@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 240 19% 16%;
      --card: 0 0% 100%;
      --card-foreground: 240 19% 16%;
      --popover: 0 0% 100%;
      --popover-foreground: 240 19% 16%;
      --primary: 0 85% 71%;
      --primary-foreground: 300 0% 100%;
      --secondary: 240 19% 16%;
      --secondary-foreground: 300 0% 100%;
      --tertiary: 29 68% 72%;
      --muted: 50 4.8% 95.9%;
      --muted-foreground: 237 13% 40%;
      --accent: 237 9% 96%;
      --accent-foreground: 240 5.9% 10%;
      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 0 0% 98%;
      --border: 8 82% 92%;
      --input: 8 82% 92%;
      --ring: 0 85% 71%;
      --radius: 0.5rem;
    }

    .dark {
      --background: 237 22% 15%;
      --foreground: 60 0% 95%;
      --card: 24 9.8% 10%;
      --card-foreground: 0 0% 95%;
      --popover: 0 0% 9%;
      --popover-foreground: 0 0% 95%;
      --primary: 0 85% 71%;
      --primary-foreground: 355.7 100% 97.3%;
      --secondary: 237 5% 20%;
      --secondary-foreground: 0 0% 98%;
      --tertiary: 29 68% 28%;
      --muted: 0 0% 15%;
      --muted-foreground: 240 5% 64.9%;
      --accent: 237 22% 5%;
      --accent-foreground: 0 0% 98%;
      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 85.7% 97.3%;
      --border: 240 3.7% 15.9%;
      --input: 240 3.7% 15.9%;
      --ring: 0 85% 71%;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.h1 {
  @apply text-6xl xl:text-[72px] xl:leading-[80px] tracking-[-2px] font-bold;
}

.h2 {
  @apply text-4xl font-bold;
}

.h3 {
  @apply text-3xl font-bold;
}

.h4 {
  @apply text-[22px] font-semibold;
}

.subtitle {
  @apply text-muted-foreground text-lg mb-8 font-light;
}

.section-title {
  @apply text-4xl font-bold relative w-max flex items-center justify-between gap-x-3 before:bg-hastag_light before:dark:bg-hastag_dark before:bg-no-repeat before:bg-center before:w-[32px] before:h-[32px];
}

.badge {
  @apply z-10 w-[200px] h-[68px] bg-white dark:backdrop-blur-[44px] shadow-2xl p-4 rounded-[10px] flex items-center gap-x-4;
}
